{% extends "bm/base.html" %}
{% load static %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'bm/js/order.js' %}"></script>
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'bm/css/table.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bm/css/custom.css' %}" />
    {% if order_list %}
        <table id="orders">
            <thead>
                <tr>
                {% for column in column_names %}
                    <th>{{ column }}</th>
                {% endfor %}
                </tr>
            </thead>
        {% for order in order_list %}
            <tr>
                <td>{{ order.parentOrder.uid }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.ordType }}</td>
                <td>{{ order.ordStatus }}</td>
                <td>{{ order.side }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.text }}</td>
                <td>{{ order.stopPx }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No Orders.</p>
    {% endif %}
{% endblock %}